* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-brussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Open Sans", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
}
.entire-section-outline {
  margin: 1rem;
  width: 100%;
  height: 48rem;
  /* height: auto; */
  border: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
}
.left-container {
  width: 49%;
  height: 46rem;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* align-items: center; */
  /* background-color: #292a49; */
  background-color: black;
  border-radius: 1rem;
}
.right-container {
  margin-top: 3.5rem;
  width: 49%;
  height: 46rem;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* background-color: #292a49; */
  background-color: black;
 border-radius: 1rem;
  flex-direction: column;
  padding: 3rem;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}
h1 {
  color: white;
  
}
h3 {
  font-size: 1rem;
  color: white;
}
.form-data {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.radio-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.list-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  
}
.check-box-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.field {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.field:focus {
  border: 2px solid red;
  background-color: #e9e4e4;
}
.radio-btn {
 width: 2rem;
 cursor: pointer;
 accent-color: red;
}
select.pointer {
  cursor: pointer;
}
label {
  color: white;
}
.check-btn {
  width: 1rem;
}
.submit-btn-section {
  display: flex;
  justify-content: center;
}
.submit-btn {
  padding: 0.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 900;
}
h2 {
  color: white;
  
}
.header-div {
  width: 100%;
  height: 3rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.entry-container {
  width: 100%;
  height: 35rem;
  /* border: 2px solid yellow; */
  /* background-color: aqua; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* background-color: yellow; */
}
.internal-line-div {
  width: 100%;
  height: 3rem;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.split-one {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  
}
.split-two {
  display: flex;
  flex-wrap: wrap;
  -ms-word-break: break-all;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: gray;
}
.split-three {
  background-color: gray;
  text-align: center;
}
.split-four {
  background-color: gray;
}
.split-five {
  background-color: gray;
  text-align: center;
}
.split-six {
  background-color: gray;
}
.split {
  width: 16.66%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 1rem; */
  border: 2px solid black;
  box-shadow: var(--dark-shadow);
  /* text-decoration: underline;
  text-decoration-color: white; */
  gap: 1rem;
}
.delete-img {
  width: 1.5rem;
  filter: invert(100%);
}
.edit-img {
  width: 2rem;
  filter: invert(100%);
}
.insert-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
}
.placeholder {
  display: none;
}
.card-viewable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  background-color: rgb(3, 13, 48);
  border-radius: 1rem;
}
/* .container-delimit {
  width: 100%;
} */
.bg-clr {
  background-color: black;
}
.update-btn {
  padding: 0.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 900;
  display: none;
}
.dynamic-update-btn {
  display: block;
}
.dynamic-submit-btn {
  display: none;
}